.nav-bar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a2cdaa;  
  padding: 20px;
  
}

.logo {
  display: flex;
  align-items: center;
  
}

.logo img {
  height: 30px;
  margin-right: 5px;
}

.logo button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;

  
}

.nav-buttons button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: black;
}

.nav-buttons button:hover {
  color: #919191;
}

.nav-buttons button:focus {
  outline: none;
}
