

<div class="cca-header">
  <img src="../../assets/kidslearningoutdoors.jpg" alt="Image" class="overlay-image">
  <h1>TrekNTrack CCA</h1>
  <p>Our objective is to develop the next generation's passion towards wildlife, equipping them holistically through a new CCA.</p>
  <p>As we Trek through our Green City, we will Track all our efforts in progressing as a Green Nation</p>
</div>

<!-- 6 Benefits --> 




<div class="card-section">
  <div class="card-header">
    <h1>Benefits</h1>
  </div>
    <div class="card-row">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Safety</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Educating students on the importance of safety when interacting with wildlife and natural environments
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Ethics</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Foster a sense of respect and responsibility  for wildlife among students
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Identification</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Familiarizing students with the ecosystems present in their local environment
        </mat-card-content>
      </mat-card>

        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>First Aid</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Teaching students essential first aid skills specifically tailored for wildlife
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Soft + Hard Skills</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Foster students' creativity, event management abilities, and information technology skills through activities in the CCA
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Application through action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Equipping students with knowledge, techniques and the opportunity to protect our ecosystems                
            </mat-card-content>
          </mat-card>
    </div>


    <div class="accordion">
      <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Benefit to Schools
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="nature-aesthetic">
            <ol class="point-list">
              <li>
                <h2>Enhanced Reputation</h2>
                <p>Showcase the school's commitment to holistic education and environmental stewardship.</p>
              </li>
              <li>
                <h2>Increased Student Engagement</h2>
                <p>CCA’s focus on nature, wildlife, and environmental conservation will attract students passionate in these areas.</p>
              </li>
              <li>
                <h2>Collaborative Opportunities</h2>
                <p>Collaborating with organizations and nature-oriented societies will enhance the school's standing and impact.</p>
              </li>
              <li>
                <h2>Academic Enrichment</h2>
                <p>Real-world applications, providing students with practical knowledge and hands-on experiences.</p>
              </li>
            </ol>
          </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Benefit to Students
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="nature-aesthetic">
            <ol class="point-list">
              <li>
                <h2>Holistic Development</h2>
                <p>Well-rounded education, Personal and Social Development.</p>
              </li>
              <li>
                <h2>Practical Skills Acquisition</h2>
                <p>Safety, ethics, species identification, first aid for wildlife, communication, event management, and IT skills.</p>
              </li>
              <li>
                <h2>Develop Awareness and Ethics</h2>
                <p>Environmental awareness and conservation ethics, fueling the lifestyle to protect our ecosystems and biodiversity.</p>
              </li>
              <li>
                <h2>Leadership and Collaboration</h2>
                <p>Opportunities to take on leadership roles and engage in collaborative projects.</p>
              </li>
              <li>
                <h2>Career Exploration</h2>
                <p>Exposure to nature conservation, environmental science, event management, publicity, and IT.</p>
              </li>
              <li>
                <h2>Personal Growth and Well-being</h2>
                <p>Interacting with the natural world can reduce stress, increase resilience, and enhance overall happiness.</p>
              </li>
              <li>
                <h2>VIA Hours and CCA Points</h2>
                <p>As students engage in environmental activities, learning journeys, and community-based projects, they will earn VIA hours, which are a mandatory requirement for graduation. Additionally, their active involvement and commitment to the CCA will be recognized through CCA points, enhancing their co-curricular achievements and overall profile.</p>
              </li>
            </ol>
          </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Benefit to Organisations
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="nature-aesthetic">
            <ol class="point-list">
              <li>
                <h2>Engaged and Committed Volunteers</h2>
                <p>Provide organizations like ACRES with a pool of motivated and fully equipped student volunteers.</p>
              </li>
              <li>
                <h2>Increased Outreach and Awareness</h2>
                <p>Raising awareness about the organization's work and advocacy, leading to greater visibility, support, and impact.</p>
              </li>
              <li>
                <h2>Skill Contribution</h2>
                <p>Depending on their chosen developmental paths, students can help organizations reach a larger audience.</p>
              </li>
              <li>
                <h2>Collaboration Opportunities</h2>
                <p>CCA can partner together to developing educational materials, workshops and community events.</p>
              </li>
            </ol>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>



  
