

<h1>TrekNTrack CCA</h1>

<!-- 6 Benefits --> 

<div class="card-section">
  <h2>Benefits</h2>
    <div class="card-row">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Safety</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Educating students on the importance of safety when interacting with wildlife and natural environments
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Ethics</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Foster a sense of respect and responsibility  for wildlife among students
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Identification</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Familiarizing students with the ecosystems present in their local environment
        </mat-card-content>
      </mat-card>

        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>First Aid</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Teaching students essential first aid skills specifically tailored for wildlife
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Soft + Hard Skills</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Foster students' creativity, event management abilities, and information technology skills through activities in the CCA
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Application through action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Equipping students with knowledge, techniques and the opportunity to protect our ecosystems                
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  
