
/* cca-header */

.cca-header{
  height: 500px;
  width: 100%;
  padding: 100px;
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: bottom;
  z-index: -1;
  filter: brightness(50%);
}

.cca-header h1{

  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cca-header p{
  width: 60%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* card-section */

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('../../assets/green-aesthetic.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: auto;
    
}

.card-header{
  width: 100%;
}

.card-header h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 50px; 
}

  
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  width: 500px; /* Adjust the percentage value as needed */
  margin: 20px;
  padding: 40px;
  box-sizing: border-box;
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;

}

.card-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}


/* other-benefits */

.other-benefits{
  background-color: azure;
  padding: 50px;
}

.other-benefits h1{
  font-size: 2rem;
  text-align: center;
  margin: 20px; 
}




/* accordion */


.nature-aesthetic {
  text-align: left;
  background-color: #eefff5;
  padding: 20px;
}

.panel-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}


.point-list {
  padding: 50px;
  list-style-type: decimal;
}

.point-list li {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}


.accordion{
  padding: 50px;
}





