<div class="mobile">
  <div class="image-container">
    <img src="../../assets/iphone.jpg" alt="Background Image">
  </div>
  <div class="text-content">
    <h1>TrekNTrack Mobile Application</h1>
    <p>We are currently in the process of developing a mobile application with the objective of providing users with a platform to document and record their trekking experiences while facilitating the tracking and identification of various species encountered during these excursions.</p>

  </div>
</div>