/* You can add global styles to this file, and also import other style files */



*{
    line-height: 30px;
}

html, body { 
    height: 100%;
    overflow-x: Hidden;
    letter-spacing: 1px; /* Increase or decrease the value to adjust the letter spacing */
    
 }

body { 
    margin: 0; 
    font-family: 'Oswald', sans-serif;
    
}

button{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
