<div class="image-container">
  <img src="../../assets/green.jpg" alt="Image">
  <div class="text-overlay">
    <h1 class="company-name">TrekNTrack</h1>
    <p class="about-text">Exploring Nature, Embracing Sustainability: Charting Singapore's Path as a Green City</p>
  </div>
</div>

<div class="container">
  <div class="box">
    <img src="../../assets/green.jpg" alt="Image 1">
    <h2>Our Objective</h2>
    <p>To holistically develop the every generation of Nature Lovers in Singapore</p>
  </div>
  
  <div class="box">
    <img src="../../assets/green.jpg" alt="Image 2">
    <h2>Our Vision</h2>
    <p>Bridging Organisations, Schools and Citizens together for a good cause</p>
  </div>
  
  <div class="box">
    <img src="../../assets/green.jpg" alt="Image 3">
    <h2>Our Principal</h2>
    <p>Safety, Respect and Knowledgeable for all things Nature</p>
  </div>
</div>

