<section class="home">
    <div class="container">
      <div class="logo">
        <img src="assets/TrekNTrack.png" alt="Logo">
      </div>
      <div class="company-info">
        <h1>TrekNTrack</h1>
        <p class="motto">Exploring Nature, Embracing Sustainability: Charting Singapore's Path as a Green City</p>
        <h2>Our Objective</h2>
        <p class="objective">To holistically develop the every generation of Nature Lovers in Singapore</p>
        <h2>Our Vision</h2>
        <p class="vision">Bridging Organisations, Schools and Citizens together for a good cause</p>
        <h2>Our Principal</h2>
        <p class="principal">Safety, Respect and Knowledgeable for all things Nature</p>
      </div>
    </div>
  </section>